@import url(https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans+Buhid&display=swap);

* {
margin:0;
padding:0;
}

.BotaoFiltro {
height:35px;
margin-top:0;
padding:0;
width:157px;
}

.DescricaoFilme {
border:3px solid rgb(25, 0, 255);
border-radius: 20px;
display:flex;
flex-direction:column;
height:50%;
width:50%;
font-family: Garamond;
}

.DivFiltro {
margin:0 25px 10px;
}

.FiltroDiv {
align-items:center;
display:flex;
justify-content:center;
padding:25px;
}

.InformacoesFilme {
color:#000;
display:flex;
width:85%;
}

.NomeFilme {
font-family: Garamond;
font-size: 1.4rem;

}

.PaginaFilme {
align-items:center;
display:flex;
}

.PesquisaFiltros {
font-family: Garamond;
font-size: 1.3rem;
display:flex;
flex-direction:column;
margin:5px;
}

.TodosFilmes {
display:flex;
flex-wrap:wrap;
justify-content:center;
}


label {
font-size:1.1em;
font-weight:700;
margin-bottom:5px;
width:220px;
}

.container {
margin:10px;
position:relative;
width:17%;
}

.filmes {
display:flex;
flex-direction:column;
}

.filtro {
background-color:rgb(133, 138, 216);
color:#FFF;
display:flex;
flex-direction:column;
}
.poster {
height:84vh;
width:32%;
}

body {
font-family:"Noto Sans Buhid", sans-serif;
}

button {
background-color:rgb(0, 4, 255);
border:none;
border-radius:7px;
color:#FFF;
font-weight:700;
margin-top:10px;
padding:10px 85px;
font-family: Garamond;
font-size: 1.1rem;
}
.cardfilmes {
background-color:rgb(0, 38, 255);
border-radius:6px;
display:block;
height:auto;
width:100%;
}

button:hover {
cursor:pointer;
}

form {
align-items:flex-end;
display:flex;
}

h2 {
font-size:3em;
font-family: Garamond;
}

h3 {
font-size:1.5em;
font-family: Garamond;
}

header {
align-items:center;
background-color:#000;
border-bottom:15px solid rgb(3, 28, 255);
display:flex;
height:150px;
justify-content:center;
width:100%;
}

main {
align-items:center;
display:flex;
height:100vh;
justify-content:center;
}

img {
width:84px;
}

input,select {
border:none;
border-radius:7px;
height:25px;
width:100%;
}

p {
font-size:1.3em;
}

#logo{
width: 300px;
padding: 180px;
}

.footer{
background-color: black;
display: flex;
height: 75px;
width: 100%;
font-family: Garamond;
color: white;
}


